@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    min-height: 900px;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
}

.card {
    width: 380px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.text {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: hsl(218, 44%, 22%);
}

p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

img {
    width : 340px;
    border-radius: 10px;
}

@media (min-width : 950px) {
   
    .card {
        width: 320px;
    }

    img {
        width: 289px;
    }

    h1 {
        font-size: 1.3rem;
    }

    p {
        font-size: 10pt;
    }
}